{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "plugin:promise/recommended",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "globals": {
    "WebSocket": true
  },
  "plugins": ["promise", "sonarjs", "unicorn"]
}
